main{
  width: 300px;
  margin: 0 auto;
}
article{
  margin: 2em 0;
}
h1{
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 1em;
  border-bottom: 1px solid #000;
}
.lead{
  background-color: #ccffff;
  padding: 10px;
  margin: 1em 0;
}

.label{
  writing-mode:tb;
  text-anchor: middle;
  font-size: 36px;
  font-weight: bold;
}